<a href="https://colab.research.google.com/github/snanditachn/Nandita.S_cts/blob/main/19_8_EX_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
def mylist():
  wdup = [x for x in input("Enter the numbers separated by comma:").split(',')]
  wodup = list(set(wdup))
  print([int(i) for i in wodup])

In [26]:
mylist()

Enter the numbers separated by comma:1,3,2,4,3,2,4,5,2,5,6,7,8,6
[4, 7, 5, 8, 6, 2, 3, 1]