<a href="https://colab.research.google.com/github/snanditachn/Nandita.S_cts/blob/main/ex2datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**



# *created a list named mylist*

In [11]:
mylist=[1,5,77,55,'nandy','gyro']
print(mylist)

[1, 5, 77, 55, 'nandy', 'gyro']

# **use append() -> adds items to mylist**

In [12]:
mylist.append('dog')
print(mylist)

[1, 5, 77, 55, 'nandy', 'gyro', 'dog']

# **clear() ->Removes all the elements from mylist**

In [14]:
mylist.clear()
print(mylist)

[]

# **copy() -> returns copy of mylist**

In [16]:
mylist.copy()

[]

# *As we have removed elements from list, we get a empty list*
# *So lets create a list again, naming it 'new' *italicised text*

In [17]:
new=[1,3,5,8,29,45,100]
print(new)

[1, 3, 5, 8, 29, 45, 100]

# **count() ->bold text Returns the number of elements with the specified value**

In [19]:
new.count(3)

1

# **extend() ->Add the elements of a list (or any iterable), to the end of the current list**

In [20]:
old=[1,3,4,2,9]       #created a list named old to extend in our list named new
new.extend(old)

In [21]:
print(new)

[1, 3, 5, 8, 29, 45, 100, 1, 3, 4, 2, 9]

# **index() ->Returns the index of the first element with the specified value**

In [22]:
new.index(100)

6

# **insert() ->Adds an element at the specified position**

In [23]:
new.insert(4,'5.5')          #to add 5.5 in the index 4
print(new)

[1, 3, 5, 8, '5.5', 29, 45, 100, 1, 3, 4, 2, 9]

# **pop() ->Removes the element at the specified position**

In [24]:
new.pop(4)                 #removes the value in index 4
print(new)

[1, 3, 5, 8, 29, 45, 100, 1, 3, 4, 2, 9]

# **remove() ->Removes the item with the specified value**

In [25]:
new.remove(45)            #removes the given value from the list
print(new)

[1, 3, 5, 8, 29, 100, 1, 3, 4, 2, 9]

# **reverse() ->Reverses the order of the list**

In [26]:
new.reverse()
new

[9, 2, 4, 3, 1, 100, 29, 8, 5, 3, 1]

# **sort() ->Sorts/arranges the list**

In [27]:
new.sort()
new

[1, 1, 2, 3, 3, 4, 5, 8, 9, 29, 100]

# **SET**



# *create a set*

In [28]:
myset={1,4,2,4,6,7,88,44,50,60,60,7,30}
myset

{1, 2, 4, 6, 7, 30, 44, 50, 60, 88}

# **add() ->Adds an element to the set**

In [29]:
myset.add(100)
myset

{1, 2, 4, 6, 7, 30, 44, 50, 60, 88, 100}

# **copy() ->Returns a copy of the set**

In [30]:
myset.copy()

{1, 2, 4, 6, 7, 30, 44, 50, 60, 88, 100}

# *creating 2 more sets*

In [31]:
s1={1,4,8,12}

In [32]:
s2={3,5,7,9}

# **clear() ->Removes all the elements from the set**

In [33]:
s2.clear()
s2

set()

# **difference() ->Returns a set containing the difference between two or more sets**

In [34]:
myset

{1, 2, 4, 6, 7, 30, 44, 50, 60, 88, 100}

In [35]:
s1

{1, 4, 8, 12}

In [36]:
s3=myset.difference(s1)           #difference btw myset and s1 will be s3
s3

{2, 6, 7, 30, 44, 50, 60, 88, 100}

# **difference_update() ->Removes the items in this set that are also included in another, specified set**

In [37]:
myset.difference_update(s1)           #gives the difference without creating a new set

In [38]:
myset

{2, 6, 7, 30, 44, 50, 60, 88, 100}

# **discard() ->Remove the specified item**

In [39]:
myset.discard(60)
myset

{2, 6, 7, 30, 44, 50, 88, 100}

# **intersection() ->Returns a set, that is the intersection of two other sets**

In [40]:
myset

{2, 6, 7, 30, 44, 50, 88, 100}

In [43]:
urset={3,6,9,44,78,98,7}
urset

{3, 6, 7, 9, 44, 78, 98}

In [44]:
intset= myset.intersection(urset)
intset

{6, 7, 44}

# **intersection_update() ->Removes the items in this set that are not present in other, specified set(s)**

In [46]:
myset.intersection_update(urset)
myset

{6, 7, 44}

# **isdisjoint() ->Returns whether two sets have a intersection or not**

In [47]:
j1={4,6,7,8,5}
j1

{4, 5, 6, 7, 8}

In [48]:
j2 = myset.isdisjoint(j1)
j2

False

# **issubset() ->Returns whether another set contains this set or not**

In [49]:
sub1={4,5,6}
sub1

{4, 5, 6}

In [50]:
j1

{4, 5, 6, 7, 8}

In [51]:
sub = sub1.issubset(j1)
sub

True

# **issuperset() ->Returns whether this set contains another set or not**

In [52]:
superset = j1.issuperset(sub1)
superset

True

# **pop() ->Removes an element from the set**

In [59]:
p1={1,2,2,3,4,5,6,7,8,9,10}
p1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
p1.pop()             #removes the first element and shows it

1

In [61]:
p= p1.pop()          #to return the removed elements in another set
p

2

In [62]:
p1                  #the leftovers in set p1

{3, 4, 5, 6, 7, 8, 9, 10}

# **remove() ->Removes the specified element**

In [63]:
p1

{3, 4, 5, 6, 7, 8, 9, 10}

In [64]:
p1.remove(6)         #removes the element 6 from p1
p1

{3, 4, 5, 7, 8, 9, 10}

# **symmetric_difference() ->Returns a set with the symmetric differences of two sets**

In [66]:
j1

{4, 5, 6, 7, 8}

In [67]:
p1

{3, 4, 5, 7, 8, 9, 10}

In [68]:
symdiff = j1.symmetric_difference(p1)        #the change is shon in new set symdiff
symdiff

{3, 6, 9, 10}

# **symmetric_difference_update() ->inserts the symmetric differences from this set and another**

In [69]:
j1.symmetric_difference_update(p1)        #updates changes in j1

In [70]:
j1

{3, 6, 9, 10}

# **union() ->	Return a set containing the union of sets**

In [72]:
j1

{3, 6, 9, 10}

In [73]:
p1

{3, 4, 5, 7, 8, 9, 10}

In [71]:
u = j1.union(p1)         #union is given in set u
u

{3, 4, 5, 6, 7, 8, 9, 10}

# **update() ->	Update the set with the union of this set and others**

In [74]:
j1.update(p1)           #union is updated in j1
j1

{3, 4, 5, 6, 7, 8, 9, 10}

# **TUPLE**


# *Create a tuple named mytpl*

In [75]:
mytpl = ("nandy", "savy", "kevy")
mytpl

('nandy', 'savy', 'kevy')

# **count() ->Returns the number of times a specified value occurs in a tuple**

In [76]:
mytpl.count("savy")

1

# **index() ->Searches the tuple for a specified value and returns the position of where it was found**

In [77]:
mytpl.index("kevy")

2

# **DICTIONARY**


# *Create a dictionary named mydict*

In [78]:
mydict = {
  "name": "nandy",
  "frd": "pravy",
  "clg": "mcc",
  "year":2018,
  "fight":"always",
  "place":"germany",
  "gifts": 2
}
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'place': 'germany',
 'gifts': 2}

# **clear() ->Removes all the elements from the dictionary**

In [79]:
mydict.clear()
mydict

{}

# *recreate mydict*

In [80]:
mydict = {
  "name": "nandy",
  "frd": "pravy",
  "clg": "mcc",
  "year":2018,
  "fight":"always",
  "place":"germany",
  "gifts": 2
}
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'place': 'germany',
 'gifts': 2}

# **copy() ->Returns a copy of the dictionary**

In [81]:
copydict = mydict.copy()
copydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'place': 'germany',
 'gifts': 2}

# **fromkeys() ->Returns a dictionary with the specified keys and value**

In [83]:
k = ('me', 'frd', 'enemy')
dict1 = dict.fromkeys(k)
dict1

{'me': None, 'frd': None, 'enemy': None}

# **get() ->Returns the value of the specified key**

In [84]:
mydict.get("frd")

'pravy'

# **items()	->Returns a list containing a tuple for each key value pair**

In [85]:
mydict.items()

dict_items([('name', 'nandy'), ('frd', 'pravy'), ('clg', 'mcc'), ('year', 2018), ('fight', 'always'), ('place', 'germany'), ('gifts', 2)])

# **keys()	->Returns a list containing the dictionary's keys**

In [86]:
mydict.keys()

dict_keys(['name', 'frd', 'clg', 'year', 'fight', 'place', 'gifts'])

# **pop()	->Removes the element with the specified key**

In [87]:
mydict.pop("place")
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'gifts': 2}

# **popitem()	->Removes the last inserted key-value pair**

In [88]:
mydict.popitem()
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always'}

# **setdefault()	->Returns the value of the specified key. If the key does not exist: insert the key, with the specified value**

In [90]:
mydict.setdefault("movies", 2)     #this key and value has been added to mydict and is shown
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'movies': 2}

In [92]:
mydict.setdefault("movies")       #this shows the value of the given key in mydict

2

# **update()	->Updates the dictionary with the specified key-value pairs**

In [93]:
mydict.update({"chat": "stupid"})

In [94]:
mydict

{'name': 'nandy',
 'frd': 'pravy',
 'clg': 'mcc',
 'year': 2018,
 'fight': 'always',
 'movies': 2,
 'chat': 'stupid'}

# **values()	->Returns a list of all the values in the dictionary**

In [95]:
mydict.values()

dict_values(['nandy', 'pravy', 'mcc', 2018, 'always', 2, 'stupid'])